h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.row {
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
}

.nav-wrapper {
    padding: 0 15px;
}

.logo-brand {
    width: 150px;
    height: 50px;
    margin-top: 11px;
}

.li_link:hover {
    border-top: 5px solid #43a047 !important;
    height: 64px;
}

.link:hover {
    color: #43a047 !important;
}

.fs {
    min-height: 90vh !important;
    background-image: url(../src/ZF0N0260.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
}

.fs::after {
    content: '';
    display: block;
    border-top: 4vh solid transparent;
    border-right: 50vw solid #fff;
    border-bottom: 4vh solid #fff;
    border-left: 50vw solid #fff;
    position: relative;
    top: 84vh;
}

.dscr {
    display: none;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    transform: skewX(-5deg);
}

.content {
    text-align: right;
    position: absolute;
    left: 55% !important;
    top: 25%;
    color: #fff;
}

.content p {
    font-size: 1.3em;
}

a.btn {
    height: auto;
}

.btn {
    border-radius: 0;
}

.parallax-container {
    height: 30vh;
}

.footer-uber {
    min-height: 30vh !important;
}

@media all and (max-width: 641px) {
    .content {
        top: 8%;
    }
}